

body {
    background-image: url('https://wallpaperaccess.com/full/9490515.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f0f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h1{
    font-weight: 900;
    color: #1a00ae;
}
.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    color: #555;
    margin-bottom: 5px;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f9f9f9;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #218838;
}

#register {
    background-color: #007bff;
}

#register:hover {
    background-color: #0056b3;
}

#login, #register {
    margin-top: 20px;
}

#logout {
    background-color: #dc3545;
    color: white;
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
}

#logout:hover {
    background-color: #c82333;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .container {
        max-width: 90%;
        padding: 20px;
    }

    h2 {
        font-size: 24px;
        margin-bottom: 15px;
    }

    input[type="text"], input[type="password"], button {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .container {
        max-width: 95%;
        padding: 15px;
    }
    
    h2 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    input[type="text"], input[type="password"], button {
        font-size: 12px;
        padding: 8px;
    }
    body {
        background-image: url('https://static.vecteezy.com/system/resources/previews/000/168/358/original/canteen-background-free-vector.jpg');
        background-repeat: no-repeat;
        background-size: auto auto%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: #f0f0f5;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
}

img {
    max-width: 100%;
    border-radius: 10px;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
